.Calculator {
    height: 20rem;
    width: 14.6875rem;
    border-radius: 0.2rem;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 48px 48px 48px 48px 48px;
}