:root {
    --bg-button: #f0f0f0;
    --borer-button: solid 1px #888;
}

.Button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--borer-button);
    border-bottom: var(--borer-button);
    /** Tira a borda externa ao ser clicado*/
    outline: none;
}

.Button:active {
    background-color: #ccc;
}

.Button.double {
    grid-column: span 2;
}

.Button.triple {
    grid-column: span 3;
}

.Button.operation {
    background-color: #fa8231;
    color: white;
}

.Button.operation:active {
    /** cc - para ficar mais escura a cor*/
    background-color: #fa8231cc;
}